@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Poppins', sans-serif;
  --font-bold: 'Poppins', sans-serif; /* Poppins uses the same family for bold */
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bold);
}